#encabezado{
    border-bottom: 1px solid rgb(160, 160, 160);
    padding-bottom: 20px;

}

.fonts{
    font-family: 'Open Sans';
    color:  rgb(82, 82, 82);
}

#contenido{
    width: 610px;
    padding: 15px;
    border-left: 1px solid rgb(121, 121, 121);
    margin-top: 15px;
    
}




.pie{
    font-family: 'Open Sans';
    color: black;
}
.img-pie{
    float: left;
    margin-left: 15px;
    margin-top: 7px;
    width: 20%;
}

#piePagina{
    float:left;
    background-color:rgb(202, 202, 202);
    width: 100%;
    padding: 20px;
    border-top: 1px solid rgb(121, 121, 121);

}

#redes{
    float: right;
}


.red{
    list-style-type: none;
    padding: 0;;

}



.red a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    line-height:200%;
}